<a href="https://colab.research.google.com/github/blacng/dataquest-projects/blob/master/dates_and_times_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Dates and Times in Python

In [0]:
import pandas as pd
wh_visit_2015 = pd.read_csv("/content/drive/My Drive/data/potus_visitors_2015.csv")
wh_visit_2015.head(100)

                  name  ...                        description
0    Joshua T. Blanton  ...  JointService Military Honor Guard
1      Jack T. Gutting  ...  JointService Military Honor Guard
2    Bradley T. Guiles  ...  JointService Military Honor Guard
3       Loryn F. Grieb  ...  JointService Military Honor Guard
4     Travis D. Gordon  ...  JointService Military Honor Guard
..                 ...  ...                                ...
95  David M. Lundquist  ...               military honor guard
96    George W. Romine  ...               military honor guard
97  Terrance A. Thomas  ...               military honor guard
98   Logan K. Stratton  ...               military honor guard
99   Timothy W. Wimmer  ...               military honor guard

[100 rows x 8 columns]

In [0]:
wh_visit_2015.columns

Index(['name', 'appt_made_date', 'appt_start_date', 'appt_end_date',
       'visitee_namelast', 'visitee_namefirst', 'meeting_room', 'description'],
      dtype='object')

In this mission we'll learn techniques that will allow us to:

- Calculate the month with the most visitors.
- Calculate the most common time that visits occurred.
- Calculate summary statistics on visit length and how far ahead visits are booked.
- Produce neatly formatted summaries of daily visits.

In [0]:
def open_dataset(file_name):
    opened_file = open(file_name)
    from csv import reader
    read_file = reader(opened_file)
    data = list(read_file)
    
    return data

In [0]:
potus = open_dataset("/content/drive/My Drive/data/potus_visitors_2015.csv")

In [0]:
potus = potus[1:]

In [0]:
import datetime as dt

In [0]:
eg_1 = dt.datetime(2000, 1, 1)
print(eg_1)

2000-01-01 00:00:00

In [0]:
eg_2 = dt.datetime(1985, 3, 13, 21, 26, 2)
print(eg_2)

1985-03-13 21:26:02

In [0]:
eg_3 = dt.datetime(1998, 7, 7, 8, 39)
print(eg_3)

1998-07-07 08:39:00

**Instructions**

Import the datetime class using the alias dt.
1. Instantiate a datetime object representing midnight on June 16, 1911. Assign the object to the variable name ibm_founded.
2. Instantiate a datetime object representing 8:17 p.m. on July 20, 1969. 
3. Assign the object to the variable name man_on_moon.

In [0]:
import datetime as dt
ibm_founded = dt.datetime(1911, 6, 16)
man_on_moon = dt.datetime(1969, 7, 20, 20, 17)
print(ibm_founded)
print(man_on_moon)

1911-06-16 00:00:00
1969-07-20 20:17:00

In [0]:
print(potus[-1][2])

12/18/15 16:30

In [0]:
date_1_str = "24/12/1984"
date_1_dt = dt.datetime.strptime(date_1_str, "%d/%m/%Y")
print(type(date_1_dt))
print(date_1_dt)

<class 'datetime.datetime'>
1984-12-24 00:00:00

In [0]:
date_2_str = "12-24-1984"
date_2_dt = dt.datetime.strptime(date_2_str, "%m-%d-%Y")
print(date_2_dt)

1984-12-24 00:00:00

In [0]:
date_format = '%m/%d/%y %H:%M'

In [0]:
date_format = '%m/%d/%y %H:%M'
for row in potus:
  start_date = row[2]
  start_date = str(start_date)
  start_date = dt.datetime.strptime(start_date, date_format)
  row[2] = start_date

In [0]:
potus[1]

['Jack T. Gutting',
 '2014-12-18T00:00:00',
 datetime.datetime(2015, 1, 6, 9, 30),
 '1/6/15 23:59',
 '',
 'potus',
 'west wing',
 'JointService Military Honor Guard']

In [0]:
visitors_per_month = {}

for row in potus:
    month_dt = row[2]
    month_str = month_dt.strftime("%B, %Y")
    if month_str not in visitors_per_month:
        visitors_per_month[month_str] = 1
    else:
        visitors_per_month[month_str] += 1

In [0]:
visitors_per_month

{'April, 2015': 4996,
 'August, 2015': 1350,
 'December, 2015': 13029,
 'February, 2015': 2165,
 'January, 2015': 1248,
 'July, 2015': 2930,
 'June, 2015': 7743,
 'March, 2015': 2262,
 'May, 2015': 3013,
 'November, 2015': 1133,
 'October, 2015': 3669,
 'September, 2015': 4416}

## Working with datetime `time` class

In [0]:
two_thirty = dt.time(14, 30)
print(type(two_thirty))
print(two_thirty)

<class 'datetime.time'>
14:30:00

In [0]:
five_sec_after_8am = dt.time(8, 0, 5)
print(five_sec_after_8am)

08:00:05

### Create a `time` object from a `datetime.datetime.time()` object

In [0]:
jfk_shot_dt = dt.datetime(1963, 11, 22, 12, 30)
print(jfk_shot_dt)

1963-11-22 12:30:00

In [0]:
jfk_shot_t = jfk_shot_dt.time()
print(jfk_shot_t)

12:30:00