In [2]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv('AppleStore.csv', index_col=0)
df.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [5]:
opened_file = open('AppleStore.csv', encoding="utf8")
from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)

In [126]:
apps_data = [row[1:] for row in apps_data]
print(apps_data[0])

['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']

## Functions we have covered so far

- `print()`
- `sum()`
- `len()`
- `min()`
- `max()`

Generally, a function displays this pattern:
1. It takes in an input
2. It does something to that input
3. It gives back an output

In [7]:
list_1 = [21, 0, 72, 2, 5]
len(list_1)

5

Above, the `len()` function:
1. Took `list_1` as an input
2. It did something to input (`list_1`) to be able to count its length.
3. It returned the output 5 - the length of `list_1`

In [9]:
length = 0

for element in list_1:
    length += 1
print(length)

5

Without using the `sum()` function, write code that computes the sum of the elements of a list.

In [10]:
list_1 = [1, 8, 10, 9, 7, 5, 9, 1, 8, 4, 5, 3, 3, 2, 0, 9,
          6, 5, 2, 6, 9, 8, 8, 1, 2, 8, 0, 3, 4, 8, 6, 2,
          2, 6, 9, 2, 9, 9, 1, 8, 10, 10, 2, 2, 3, 6, 10,
          9, 8, 7]

list_2 = [678, 685, 870, 927, 176, 893, 366, 780, 261, 815,
          204, 946, 465, 670, 19, 632, 182, 46, 13, 202, 566,
          609, 481, 18, 992, 490, 878, 398, 942, 694, 763,
          986, 825, 843, 798, 658, 426, 613, 14, 369, 638,
          831, 585, 608, 588, 418, 117, 18, 755, 680]

list_3 = [4444, 8897, 6340, 9896, 4835, 4324, 10000, 6445,
          661, 1246, 1000, 7429, 1376, 8121, 647, 1280, 1318,
          3993, 4881, 9500, 6701, 1199, 6251, 4432, 3717,
          5929, 7061, 4214, 5127, 6171, 3782, 3798, 8970,
          3102, 9771, 746, 4974, 7996, 3122, 1362, 8140, 4412,
          1390, 2240, 3063, 4228, 7030, 8479, 5081, 66]

In [15]:
sum_1 = 0
for element in list_1:
    sum_1 += element

print(sum_1) # 275

sum_2 = 0 

for element in list_2:
    sum_2 += element

print(sum_2) #27431

sum_3 = 0
for element in list_3:
    sum_3 += element
    
print(sum_3) #239187

275
27431
239187

In [20]:
ratings = ['4+', '4+', '4+', '9+', '12+', '12+', '17+', '17+']

content_ratings = {}

for element in ratings:
    if element in content_ratings:
        content_ratings[element] += 1
    else:
        content_ratings[element] = 1

print(content_ratings)

{'4+': 3, '9+': 1, '12+': 2, '17+': 2}

In [21]:
n_unique = len(content_ratings)

In [22]:
def square(a_number): # header
    squared_number = a_number * a_number # body
    return squared_number # return statement

In [23]:
square(7)

49

To create the `square()` function, we:
- Start with the `def` statement, where we:
    - Specified the name of the function (square)
    - Specified the name of the variable (a_number) that will serve as input
    - Surrounded the input variable `a_number` within parenthesis
    - Ended the line of code with a colon: 
- Specified what we want to do with the input (`a_number`) - in the code below the `def` statement
    - We multiplied `a_number` by itself: `a_number` * `a_number`
    - Then we assigned the result to a variable named `squared_number`
- Ended with the `return` statement, where we specified what we want returned as the output
    - The output is the variable `squared_number`, which stores the result of `a_number` * `a_number`

We'll often use the phrase "inside the function's definition" to refer to the function's body.

In [24]:
squared_10 = square(10)
print(squared_10)
squared_16 = square(16)
print(squared_16)

100
256

In [25]:
def square_2(a_number, a_exponent): # header
    squared_number = a_number ** a_exponent # body
    return squared_number # return statement

In [26]:
square_2(7,2)

49

In [27]:
squared_20 = square_2(20,2)
print(squared_20)
squared_100 = square_2(100, 2)
print(squared_100)

400
10000

In [28]:
def add_10(a_number):
    addition = a_number + 10
    return addition

In [31]:
add_30 = add_10(30)
print(add_30)
add_90 = add_10(90)
print(add_90)

40
100

In [33]:
def square(a_number): # header
    return a_number * a_number # body & return

In [34]:
squared_6 = square(6)
print(squared_6)
squared_11 = square(11)
print(squared_11)

36
121

In [38]:
a_list = [2, 1, 'data point', 'five', 89, 1, 'zero', True, 2.332]
a_dictionary = {1: 'Name', 2: True, 3: [1,2,3], 4: 9.2221, 5: 5}
a_list.in

In [44]:
def len_2(a_variable):
    length = 0
    for element in a_variable:
        length += 1
    return length

In [46]:
list_length = len_2(a_list)
print(list_length)
dictionary_length = len_2(a_dictionary)
print(dictionary_length)

9
5

## Creating two functions that generates frequency tables for any column

In [64]:
def extract(index):
    column = []
    for row in apps_data[1:]:
        value = row[index]
        column.append(value)
    return column

In [65]:
def freq_table(column):
    frequency = {}
    
    for value in column:
        if value in frequency:
            frequency[value] += 1
        else:
            frequency[value] = 1
            
    return frequency

In [68]:
content_ratings = extract(11)
content_ratings_ft = freq_table(content_ratings)
print(content_ratings_ft)

{'4+': 4433, '12+': 1155, '17+': 622, '9+': 987}

In [57]:
# print(content_rating)

In [71]:
ratings = extract(8)
ratings_ft = freq_table(ratings)
print(ratings_ft)

{'4': 1626, '3.5': 702, '4.5': 2663, '5': 492, '3': 383, '2': 106, '2.5': 196, '0': 929, '1.5': 56, '1': 44}

In [72]:
genres = extract(12)
genres_ft = freq_table(genres)
print(genres_ft)

{'Games': 3862, 'Productivity': 178, 'Weather': 72, 'Shopping': 122, 'Reference': 64, 'Finance': 104, 'Music': 138, 'Utilities': 248, 'Travel': 81, 'Social Networking': 167, 'Sports': 114, 'Business': 57, 'Health & Fitness': 180, 'Entertainment': 535, 'Photo & Video': 349, 'Navigation': 46, 'Education': 453, 'Lifestyle': 144, 'Food & Drink': 63, 'News': 75, 'Book': 112, 'Medical': 23, 'Catalogs': 10}

## Create one function that generates frequency tables for any column

In [80]:
def freq_table_2(index):
    frequency_table = {}
    
    for row in apps_data[1:]:
        value = row[index]
             
        if value in frequency_table:
            frequency_table[value] += 1
        else:
            frequency_table[value] = 1
            
    return frequency_table

In [84]:
content_ratings_ft = freq_table_2(11)
print(content_ratings_ft)
ratings_ft = freq_table_2(8)
print(ratings_ft)
genres_ft = freq_table_2(12)
print(genres_ft)

{'4+': 4433, '12+': 1155, '17+': 622, '9+': 987}
{'4': 1626, '3.5': 702, '4.5': 2663, '5': 492, '3': 383, '2': 106, '2.5': 196, '0': 929, '1.5': 56, '1': 44}
{'Games': 3862, 'Productivity': 178, 'Weather': 72, 'Shopping': 122, 'Reference': 64, 'Finance': 104, 'Music': 138, 'Utilities': 248, 'Travel': 81, 'Social Networking': 167, 'Sports': 114, 'Business': 57, 'Health & Fitness': 180, 'Entertainment': 535, 'Photo & Video': 349, 'Navigation': 46, 'Education': 453, 'Lifestyle': 144, 'Food & Drink': 63, 'News': 75, 'Book': 112, 'Medical': 23, 'Catalogs': 10}

## Creating a function that is reusable

In [85]:
def freq_table_3(index, dataset):
    frequency_table = {}
    
    for row in dataset:
        value = row[index]
        
        if value in frequency_table:
            frequency_table[value] += 1
        else:
            frequency_table[value] = 1
            
    return frequency_table

In [89]:
content_ratings_ft = freq_table_3(11, apps_data[1:])
print(content_ratings_ft)
ratings_ft = freq_table_3(8, apps_data[1:])
print(ratings_ft)
genres_ft = freq_table_3(12, apps_data[1:])
print(genres_ft)

{'4+': 4433, '12+': 1155, '17+': 622, '9+': 987}
{'4': 1626, '3.5': 702, '4.5': 2663, '5': 492, '3': 383, '2': 106, '2.5': 196, '0': 929, '1.5': 56, '1': 44}
{'Games': 3862, 'Productivity': 178, 'Weather': 72, 'Shopping': 122, 'Reference': 64, 'Finance': 104, 'Music': 138, 'Utilities': 248, 'Travel': 81, 'Social Networking': 167, 'Sports': 114, 'Business': 57, 'Health & Fitness': 180, 'Entertainment': 535, 'Photo & Video': 349, 'Navigation': 46, 'Education': 453, 'Lifestyle': 144, 'Food & Drink': 63, 'News': 75, 'Book': 112, 'Medical': 23, 'Catalogs': 10}

## Calling functions by using postional or keyword arguments

In [98]:
# Using Positional Arguments
content_ratings_ft = freq_table_3(11, apps_data[1:])
print(content_ratings_ft)
# Using Keyword Arguments
ratings_ft = freq_table_3(dataset=apps_data[1:], index=8)
print(ratings_ft)
genres_ft = freq_table_3(index=12, dataset=apps_data[1:])
print(genres_ft)

{'4+': 4433, '12+': 1155, '17+': 622, '9+': 987}
{'4': 1626, '3.5': 702, '4.5': 2663, '5': 492, '3': 383, '2': 106, '2.5': 196, '0': 929, '1.5': 56, '1': 44}
{'Games': 3862, 'Productivity': 178, 'Weather': 72, 'Shopping': 122, 'Reference': 64, 'Finance': 104, 'Music': 138, 'Utilities': 248, 'Travel': 81, 'Social Networking': 167, 'Sports': 114, 'Business': 57, 'Health & Fitness': 180, 'Entertainment': 535, 'Photo & Video': 349, 'Navigation': 46, 'Education': 453, 'Lifestyle': 144, 'Food & Drink': 63, 'News': 75, 'Book': 112, 'Medical': 23, 'Catalogs': 10}

In [116]:
def extract(data_set, index):
    column = []
    
    for row in data_set:
        value = row[index]
        column.append(value)
        
    return column

In [118]:
# extract(data_set=apps_data[1:], index = 3)

In [123]:
def find_sum(a_list):
    a_sum = 0
    
    for num in a_list:
        a_sum += float(num)
        
    return a_sum

def find_length(a_list):
    length = 0
    
    for num in a_list:
        length += 1
        
    return length

def mean(data_set, index):
    column = extract(data_set, index)
    return find_sum(column) / find_length(column)

In [125]:
avg_price = mean(new_apps_data[1:], 4)
print(avg_price)
avg_rating = mean(new_apps_data[1:], 7)
print(avg_rating)

1.7262178685562626
3.526955675976101

In [130]:
def extract(data_set, index):
    column = []
    
    for row in data_set[1:]:
        value = row[index]
        column.append(value)
    
    return column

def find_sum(a_list):
    a_sum = 0
    for element in a_list:
        a_sum += float(element)
    return a_sum

def find_length(a_list):
    length = 0
    for element in a_list:
        length += 1
    return length

def mean(data_set, index):
    column = extract(data_set, index)
    return find_sum(column) / find_length(column)

avg_price = mean(apps_data, 4)
print(avg_price)
avg_rating = mean(apps_data, 7)
print(avg_rating)

1.7262178685562626
3.526955675976101